version: '3.8'

services:
  postgres:
    image: postgres:16
    restart: always
    container_name: thonlabs-db
    environment:
      POSTGRES_DB: 'thonlabs'
      POSTGRES_USER: 'thonlabs'
      POSTGRES_PASSWORD: '12345678'
    ports:
      - '5432:5432'
    expose:
      - '5432'
    volumes:
      - ./data/db:/var/lib/postgresql/data

  redis:
    image: redis:8.2.1
    restart: always
    container_name: thonlabs-redis
    ports:
      - '6380:6379'
    expose:
      - '6380'
    volumes:
      - ./data/redis:/data
