# version: '3.8'

# services:
#   main:
#     container_name: main
#     build:
#       context: .
#       dockerfile: Dockerfile.local
#       args:
#         PROJECT: main
#         PORT: 3100
#     environment:
#       - PROJECT=main
#     ports:
#       - '3100:3100'
#     volumes:
#       - .:/app
#       - /app/node_modules
#       - /app/apps/main/node_modules
#     develop:
#       watch:
#         - action: sync
#           path: ./apps/main/src
#           target: /app/apps/main/src
#         - action: sync
#           path: ./packages
#           target: /app/packages
#         - action: rebuild
#           path: ./apps/main/package.json
#         - action: rebuild
#           path: ./package.json
#         - action: rebuild
#           path: ./bun.lock

#   main-db:
#     image: postgres:16
#     restart: always
#     container_name: main-db
#     environment:
#       POSTGRES_DB: 'thonlabs'
#       POSTGRES_USER: 'thonlabs'
#       POSTGRES_PASSWORD: '12345678'
#     ports:
#       - '5432:5432'
#     expose:
#       - '5432'
#     volumes:
#       - ./data/db:/var/lib/postgresql/data

#   redis:
#     image: redis:8.2.1
#     restart: always
#     container_name: redis
#     ports:
#       - '6380:6379'
#     expose:
#       - '6380'
#     volumes:
#       - ./data/redis:/data